body {
 background: #FFFFFF;
 font-family: Georgia, Arial, Helvetica, sans-serif;
 font-weight: 100;
 font-size:1.000em;
 color:#FFFFFF;
  
}
  
  
  p{
	font-family:Georgia, Arial, Helvetica, sans-serif;
	font-weight:100;
	color:#333;
}

h1,h2,h3{
	font-weight:100;
	color:rgb(97, 94, 94);
	 -webkit-font-smoothing: antialiased !important; /*no longer in spec*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-o-text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1{
	font-size:1.00em;
	font-family: 'Nixie One', cursive;
	margin:0;
	padding:0;
}

h2{
	font-size:2.50em;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	margin:0;
	padding:0;
	color: #FFFFFF;
}

h3{
	font-size:1.5em;
	font-family: 'Nixie One', cursive;
	
li {
        font-size:2.50em;
        font-family: 'Asap', sans-serif;
        padding:30px;
	
}
  
  
  
.title{
font-family:montserrat;      
font-size:14px;
line-height:20px;
letter-spacing:2px;
text-transform:uppercase;
color:#000;
}
.title a{
color:#000;
}

 
.sidebar1{
position:absolute;
top:200px;
width:200px;
left:50%;
margin-left:-600px;
z-index:999;
text-align:center;
}
.sidebar2{
position:absolute;
top:200px;
width:200px;
right:50%;
margin-right:-600px;
z-index:999;
text-align:center;
}
  
  
  #content {
width:800px;
left:50%;
top:175px;
margin-left:-400px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#topbar a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
}
 
#stickynav {
  display: block;
  height: 35px;
  width: 100%;
  z-index: 9999;
}
 
#stickynav #nav { position: fixed; z-index: 9999; }
#stickynav #nav li { display: inline; }
#stickynav #nav li a {
  display: block;
  float: left;
  margin-right: 8px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 7px;
  background: #cce4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#stickynav #nav li a:hover { 
  text-decoration: none;
  background: #d8f0d0;
}









form .basic {
  display: block;
  font-size: 1.5em;
  color: #555;
  font-family: Arial, Tahoma, sans-serif;
  padding: 4px 6px;
  margin-bottom: 10px;
}
 
form .basictxt {
  display: block;
  width: 550px;
  height: 180px;
  font-family: Arial, Tahoma, sans-serif;
  color: #666;
  padding: 5px 8px;
  font-size: 1.6em;
  line-height: 1.4em;
}
 
/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
 
#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}









@media screen and (max-width: 960px) {
 #wrapper {
   width: 94%;
 }
   article {
   width: 65%;
 }
   article img {
     width:30%;
     height:30%;
   }
   aside {
     width: 28%;
   }
   
}

@media screen and (max-width: 700px) {
 
 article{
   width: auto;
   float: none;
 } 
 
 aside {
   width: auto;
   float: none;
 }
  
}

@media screen and (max-width: 480px) {
 header.page {
   height:auto;
  
 }
 h1 {
   font-size: 24px;
 }
 aside {
   display: none;
 }
 
}






